* {
  font-family: "Roboto", sans-serif;
}
.company-name {
  font-size: 15px;
  color: rgb(134, 130, 130);
}
.description-container {
  margin-top: 10px;
}
.description-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.description {
  margin-top: 0px;
  font-size: 12px;
  color: rgb(134, 130, 130);
  padding: 0;
}
* {
  font-family: "Roboto", sans-serif;
}
.company-name {
  font-size: 15px;
  color: rgb(134, 130, 130);
}
.description-container {
  margin-top: 10px;
}
.description-heading {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}
.description {
  margin-top: 0px;
  font-size: 12px;
  color: rgb(134, 130, 130);
  padding: 0;
}

@media screen and (max-width: 480px) {
  * {
    font-family: "Roboto", sans-serif;
  }
  .company-name {
    font-size: 15px;
    color: rgb(134, 130, 130);
  }
  .description-container {
    margin-top: 10px;
  }
  .description-heading {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .description {
    margin-top: 0px;
    font-size: 12px;
    color: rgb(134, 130, 130);
    padding: 0;
  }
  .counts{
    font-size: 12px;
    color: rgb(122, 66, 144);
    padding: 0;
    font-weight: bold;
  }
}
