.heading {
  font-size: 20px;
  font-weight: 600;
}
.jobs-container {
  list-style-type: none;
  padding: 5px;
  overflow-y: auto;
  height: 100%;
}

.jobs-loader {
  height: 100vh;
}

.pagination-container {
  display: flex;
  padding-bottom: 70px;
  width: 100%;
  align-items: center;
}

.pagination-btn {
  width: 100%;
  border: none;
  font-family: "Roboto", sans-serif;
}

.page-num {
  font-weight: 600;
  align-self: center;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 20px;
    font-weight: 600;
  }
  .jobs-container {
    list-style-type: none;
    padding: 5px;
    overflow-y: auto;
    height: 100%;
  }

  .jobs-loader {
    height: 100vh;
  }

  .pagination-container {
    display: flex;
    padding-bottom: 70px;
    width: 100%;
    align-items: center;
  }

  .pagination-btn {
    width: 100%;
    border: none;
    font-family: "Roboto", sans-serif;
  }

  .page-num {
    font-weight: 600;
    align-self: center;
    margin-top: 10px;
  }
}
