* {
    font-family: "Roboto", sans-serif;
  }
  .bg-container {
    height: 100vh;
    padding: 20px;
  }
  
 
  .no-job-err {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
@media screen and (max-width: 480px) {
  * {
    font-family: "Roboto", sans-serif;
  }
  .bg-container {
    height: 100vh;
    padding: 20px;
  }
  
 
  .no-job-err {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
